<nav> <!-- top nav -->
   <div class="menu">
      <ul>
         <li>
         	<%= nav_link_to "Home", "home", page_home_path, 'current_page' %></a></li>
         <li>
            <%= nav_link_to "About", 'about_us', page_about_us_path, 'current_page' %></a>
            <ul>
               <li><%=nav_link_to "Contact Us", 'contact_us', page_contact_us_path, 'current_page' %></li>
            </ul>
         </li>
         <li><%=link_to "Products", page_products_path %></li>
         <li>
            <%= link_to "Articles", page_articles_path %></a>
            <ul>
               <li><%=link_to "Newsletter", page_newsletter_path %></li>
            </ul>
         </li>
         <li><%=link_to "Blog", page_blog_path %></li>
         <li><%=link_to "Login", page_login_path %></li>
      </ul>
   </div>
</nav> <!-- end of top nav -->