	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><%= link_to "Home", page_home_path %></a></li>
				<li><a href="#">About</a>
			    <ul>
   					<li><a href="#"><%= link_to "Teach Dave", dave_teach_path %></a></li>
   					<li><a href="#">History</a></li>
   					<li><a href="">Vision</a></li>
   				</ul>
  			</li>
				<li><%=link_to "Products", page_products_path %></li>
				<li><%=link_to "Articles", page_articles_path %></a>
				<li><%=link_to "Contact Us", page_contact_us_path %></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->