<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<%= link_to "Prev", movies_path(page:@page-1) %>
<%= link_to "Next", movies_path(page:@page+1) %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Director</th>
      <th>Description</th>
      <th>Year</th>
      <th>Length</th>
      <th>Format</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%=movie.id%></td>
        <td><%= link_to movie.proper_name, movie_path(movie) %></td>
        <td><%= movie.director %></td>
        <td><%= truncate(movie.description.html_safe, length: 20) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.length %></td>
        <td><%= movie.format %></td>
        <td><%= movie.thumbnail%></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
