<h1>Calendar</h1>

<%= @time.year %> <%= @time.strftime("%B") %>
<br/>
<%= day_of_week = @time.strftime("%w").to_i %>

<%= mail_to "dacks@test123.com", "My Email" %>

<%= calendar(@month, @year).html_safe %>
